<%= form_for @job, url: @job, html: { multipart: true } do |form| %>
  <%# <ul class="nav navbar-nav"> %>
    <% if @job.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@job.errors.count, "error") %> prohibited this job
          <ul>
            <% @job.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>
    <div class="row">
      <div class='form-group col-sm-6'>
        <%= form.label :title %><br>
        <%# <%= form.text_field :title, class: 'form-control', size: 57 %1> %>
        <%= form.collection_check_boxes :job_type_ids, JobType.all, :id, :job_type do |b| %>
          <div class="collection-check-box">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class='form-group col-sm-6'>
        <%= form.label :location %>
        <%= form.text_field(:location, class: 'form-control', size: 57) %>
      </div>
    </div>
      <div class="row">
        <div class="form-group col-sm-6">
          <div class='input-group datetimepicker9'>
            <%= form.label :first_start_time_choice %><br>
            <%= form.text_field(:first_start_time_choice, class: 'form-control input-group ') %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar">
              </span>
            </span>
          </div>
          <script type="text/javascript">
$(function () {
  $('.datetimepicker9').datetimepicker({
    viewMode: 'years'
  });
});
          </script>
        </div>
      </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <div class='input-group datetimepicker9'>
          <%= form.label :second_start_time_choice %><br>
          <%= form.text_field(:second_start_time_choice, class: 'form-control input-group ') %>
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar">
            </span>
          </span>
        </div>
        <script type="text/javascript">
$(function () {
  $('.datetimepicker9').datetimepicker({
    viewMode: 'years'
  });
});
        </script>
      </div>

    </div>
    <div class='action'>
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
