<div class="row">
  <div class="col-md-4">
  <%= search_form_for @q, url: admin_dashboards_path  do |f| %>
    <%= f.label :status_or_location_cont %>
    <%= f.search_field :status_or_location_cont,
      placeholder: "Search jobs",
      class: "search-field form-control vertical-align: middle" %></br>
    <%= f.label :employer_name_cont %>
    <%= f.search_field :user_profile_name_cont,
      placeholder: "Search employers",
      class: "search-field form-control vertical-align: middle" %></br>
    <%= f.submit "Search", class: "btn btn-primary admin-search" %>
  <% end %>
  </div>
</div>

<div class="row-fluid">
  <% if policy(Job).new? %>
    <h4><%= link_to 'New job', new_job_path %></h4></br>
  <% end %>

  <% if current_user.role == 'Admin' %>
  <button type="button" id="check_all">
    Check / Uncheck All
  </button>
  <%= javascript_include_tag "checkAll" %>
<% end %>

<div class='container'>
<div class="row">
  <h3>Unconfirmed Jobs</h3>
  <%= render partial: "jobs/table_row", locals: {job_variable: @jobs_unconfirmed} %>
</div>

<div class="row">
  <h3>Confirmed Jobs</h3>
  <%= render partial: "jobs/table_row", locals: {job_variable: @jobs_confirmed} %>
</div>

<div class="row">
  <h3>Dispatched Jobs</h3>
  <%= render partial: "jobs/table_row", locals: {job_variable: @jobs_dispatched} %>
</div>
</div>
