<h3>Pending Jobs</h3>
<%= render partial: "jobs/table_row", locals: {job_variable: @jobs_pending} %>

<h3>Approved Jobs</h3>
<%= render partial: "jobs/table_row", locals: {job_variable: @jobs_approved} %>

<h3>Open Jobs</h3>
<%= render partial: "jobs/table_row", locals: {job_variable: @jobs_open} %>

<h3>Finished Jobs</h3>
<%= render partial: "jobs/table_row", locals: {job_variable: @jobs_finished} %>

<h3>Closed Jobs</h3>
<%= render partial: "jobs/table_row", locals: {job_variable: @jobs_closed} %>
